# Lab Exercies

**Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.**

P1. What is the result of 1875 divide by 25?

In [ ]:
1875/25

P2. What is the data type of the result above? Type command to check the data type

In [5]:
type(1875/25)

float

In [6]:
type(1875//25)

int

Evaluate the code below before answering the question

In [7]:
title = "Introduction to Python"

P3. Reference the variable "title" with index to get the word "Introduction" and "Python"

In [19]:
title[0:12]

'Introduction'

In [20]:
title[:12]

'Introduction'

In [22]:
title[16:]

'Python'

In [23]:
title[-6:]

'Python'

P4. Create two variable "student_id" and "studnet_name" and assign your student id and student name to the variables

Use .format( ) to print the following string

Student ID xxxxxx  Name yyyyyyy. 
Replace xxxxxx with your student id and yyyyyyy with student name

In [25]:
"{0} and {1}".format(1,2)

'1 and 2'

In [30]:
"{1} and {0}".format(1,2)

'2 and 1'

In [31]:
student_id = '024709891'
student_name = 'Sanit Sirisaw'

In [33]:
print("Student ID {} Name '{}'".format(student_id,student_name))

Student ID 024709891 Name 'Sanit Sirisaw'

**P5. Given this nested list, use indexing to grab the number 2, 5 and 7**

In [34]:
my_list = [ 1, 2, 3, [4, 5,[6, 7]]]

In [35]:
my_list[1]

2

In [37]:
my_list[3][1]

5

In [40]:
my_list[3][2][1]

7

P6. Given the variables

num5 = 5

num10 = 10

Create a variable sum and assign the addition of num5 and num10
Show the result of sum as follows: (**Hint use str( ) to convert int to string before concating with string**)

sum = 15

In [41]:
num5 = 5 
num10 = 10

In [44]:
sum = num5+num10
print("sum = "+str(sum))

sum = 15

In [46]:
print("*"*5)

*****

In [48]:
int("12")

12

In [1]:
d={"a":1,"b":2}

In [3]:
list(d)

['a', 'b']

P7. Create a function named "add" with two parameters and return the function with addition of two parameters

In [10]:
def add(n=0,m=0):
    return n+m

In [8]:
add(100,200)

300

In [11]:
add()

0

### Challenge Problems

C1. Show the odd numbers between 0 and 21 (Not including 21) (**Hint use loops or range( ) function**)

In [14]:
list(range(5)) # [0,5)

[0, 1, 2, 3, 4]

In [17]:
list(range(10,16,2))

[10, 12, 14]

In [18]:
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

C2. Given the variable score

Write conditional statement to assign the variable grade according to the following criteria:

| Score  |  Grade     |
| --     | --         |
| < 50   |   F        |
| >=50,<60 | D        |
| >=60,<70 | C        |
| >=70,<80 | B        |
| >=80     | A        |

You can change the score and see what grade you will get.

In [27]:
score = 45

In [28]:
if score>= 80:
    grade = 'A'
elif score>=70:
    grade = 'B'
elif score>=60:
    grade = 'C'
elif score>=50:
    grade = 'D'
else:
    grade = 'F'

In [29]:
grade

'F'

In [37]:
score = 45
if score<50:
    grade = 'F'
elif score<60:
    grade = 'D'
elif score<70:
    grade = 'C'
elif score<80:
    grade = 'B'
else:
    grade = 'A'
print(grade)

F