# Lab Exercies

**Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.**

P1. What is the result of 1875 divide by 25?

75.0

P2. What is the data type of the result above? Type command to check the data type

Evaluate the code below before answering the question

In [19]:
title = "Introduction to Python"

P3. Reference the variable "title" with index to get the word "Introduction" and "Python"

'Introduction'

'Python'

P4. Create two variable "student_id" and "studnet_name" and assign your student id and student name to the variables

Use .format( ) to print the following string

Student ID xxxxxx  Name yyyyyyy. 
Replace xxxxxx with your student id and yyyyyyy with student name

**P5. Given this nested list, use indexing to grab the number 2, 5 and 7**

In [6]:
my_list = [ 1, 2, 3, [4, 5,[6, 7]]]

2

5

7

P6. Given the variables

num5 = 5

num10 = 10

Create a variable sum and assign the addition of num5 and num10
Show the result of sum as follows: (**Hint use str( ) to convert int to string before concating with string**)

sum = 15

In [12]:
num5 = 5 
num10 = 10

 sum = 15

P7. Create a function named "add" with two parameters and return the function with addition of two parameters

In [16]:
add(125,240)

365

### Challenge Problems

C1. Show the odd numbers between 0 and 21 (Not including 21) (**Hint use loops or range( ) function**)

1
3
5
7
9
11
13
15
17
19

C2. Given the variable score

Write conditional statement to assign the variable grade according to the following criteria:

| Score  |  Grade     |
| --     | --         |
| < 50   |   F        |
| >=50,<60 | D        |
| >=60,<70 | C        |
| >=70,<80 | B        |
| >=80     | A        |

You can change the score and see what grade you will get.

In [35]:
score = 75

In [38]:
grade

'B'